<style>
.pageNavWrapper {
display: block;
width: 90%;
margin: 10px auto;
}

#sharePageNav {
display: block;
width: 100%;
list-style: none;
}

#sharePageNav li {
float: left;
display: inline-block;
border: 1px solid #fff;
border-collapse: separate;
border-left: none;
width: 50%;
}

#sharePageNav li:first-child {
border-left: 1px solid #fff;
border-top-left-radius: 3em;
border-bottom-left-radius: 3em;
}

#sharePageNav li:first-child a {
border-top-left-radius: 3em;
border-bottom-left-radius: 3em;
}

#sharePageNav li:last-child {
border-right: 1px solid #fff;
border-top-right-radius: 3em;
border-bottom-right-radius: 3em;
}

#sharePageNav li:last-child a {
border-top-right-radius: 3em;
border-bottom-right-radius: 3em;
}

#sharePageNav li a {
float: left;
color: #fff;
font-size: 12px;
line-height: 1;
text-align: center;
display: block;
width: 100%;
padding: 7px 5px;
}

#sharePageNav li.active a {
background: #f7b81f;
}

#sharePageNav li,
#sharePageNav li:last-child,
#sharePageNav li:first-child {
border-width: 2px;
}

.box-title {
display: block;
background: #f7b81f;
padding: 5px;
line-height: 10px;
font-size: 10px;
margin: 0 20px;
border-radius: 5px;
margin-top: -160px;
}

.imgFrame {
height: 150px;
background-color: #f5eec4;
border-radius: 10px;
padding-top: 10px;
}

#changeIslandButton, #saveImgBtn {
display: inline-block;
padding: 2px 25px;
background: #FEBB2F;
border-radius: 10px;
color: #fff;
font-size: 12px;
line-height: 1;
border-color: none;
box-shadow: none;
}

button, .button {
font-family: inherit;
background: none;
border: none;
box-shadow: none;
padding: 0;
margin: 0;
}

.share_container {
text-align: center;
}

.shareItemList {
text-align: center;
}

.shareItemList ul {
color: #000;
display: inline-block;
list-style: none;
width: 250px;
height: 250px;
margin-left: auto;
margin-right: auto;
margin: 0;
}

.shareItemList ul li {
display: flex;
background: #F7B81F;
text-align: left;
height: 10%;
line-height: 1;
font-size: 12px;
justify-content: center;
flex-direction: column;
padding: 0 10px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
border-radius: 25px;
}

.shareItemList ul li:nth-child(2n+1) {
background-color: #F5EEC4;
}

share_container .activated {
transform: scale(0.9);
}

#shareRenderer {
width: 250px;
height: 250px;
background-color: none;
display: block;
margin: 0 auto;
}

.socmedIconWrapper {
display: block;
text-align: center;
margin: 10px 0;
}

.socmedIconWrapper img {
width: 30px;
margin: 0 5px;
}

.reward {
background-color: white;
}

ul.Char {
font-size: 9px;
width: 70%;
height: 3.35vh;
list-style-type: none;
margin: 0;
overflow: hidden;
background-color: #F7B81F;
display: inline-block;
border-radius: 2em;
font-size: 80%;
padding-left: 3%;
}

ul.Char li {
text-align: left;
float: left;
margin: 0;
display: inline;
border-right: none;

}

ul.char li.active {

height: 3.35vh;
color: #fff;
background-color: #F7B81F;
}
</style>
<link href="asset/css/fix-style.css" rel="stylesheet">
<div ng-controller="ShareCtrl">
    <section class="titleWrapper">Share</section>
    <div class="pageNavWrapper" align="center">
        <ul class="pageNav" id="sharePageNav">
            <li class="active" id="shareTab-1"><a ng-click="setPage(1)">Spread</a></li>
            <li id="shareTab-2"><a ng-click="setPage(2)">Reward</a></li>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="share" style="color:#fff;margin-bottom:5px;text-align: center;">
        Select Region <span>&nbsp;</span> <span id="changeIslandButton" on-tap="changeIsland()">{{selectedIsland.name}}</span>
    </div>

    
        <div id="sharePage-1" class="sharePageContent" style="padding:5px 10px;">
            
            <div class="share_container">
                <div id="shareRenderer" ng-show="isDisplayCode" on-tap="showCharList()">

                </div>
                <div class="shareItemList" ng-show="!isDisplayCode">
                    <ul class="shareCharList">
                        <li ng-repeat="char in shareChars track by $index" ng-click="showEggCode(char.code)">
                            <div>{{char.nickname}}</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="socmedIconWrapper">
                <div>Share to your social media </div>
               <img src="asset/img/share/icon_fb.png" class="clickable" ng-click="sharetoFb()" />
                <img src="asset/img/share/icon_ig.png" class="clickable" ng-click="sharetoIg()" />
                <img src="asset/img/share/icon_twitter.png" class="clickable" ng-click="sharetoTwit()" />
                <img src="asset/img/share/icon_wa.png" class="clickable" ng-click="sharetoWa()" />
                <img src="asset/img/share/icon_other.png" class="clickable" ng-click="shareVia()" />
                <div style="margin:0;">
                    <button style="margin:0;" type="button" id="saveImgBtn" ng-click="saveThis()">Save To Gallery</button>
                </div>
            </div>
        </div>
        <div id="sharePage-2" class="sharePageContent"  style="padding:5px 10px;display:none;">
             
           
            <div id="shareReward-2" class="reward" style="color:#000;margin-bottom:5px;text-align: center;width: 80%;
                 margin-left: 9%;" ng-show="isDisplayReward" on-tap="showCharList()">
                <div>{{char.nickname}}</div>
                <div>gambar</div>
                <div style="display: inline-block;
                     padding: 2px 25px;
                     background: #FEBB2F;
                     border-radius: 10px;
                     font-size: 90%;
                     line-height: 1;
                     border-color: none;
                     box-shadow: none;">xxxx-xxxx</div>
                <div>
                    <ul class="Char">
                        <li class="active" style="width:70%;">Total Reward</li>
                        <li id="lifespan" style="padding-left: 3%;width: 30%; height: 100%; background-color: rgba(255, 255, 255, 0.9); ">copo</li>
                    </ul>
                </div>
                <div>eggcode summary</div>
                <div>
                    <ul class="Char">
                        <li class="active" style="width:70%;">Total Reward</li>
                        <li id="lifespan" style="padding-left: 3%;width: 30%; height: 100%; background-color: rgba(255, 255, 255, 0.9); ">copo</li>
                    </ul>
                </div>
                <div>
                    <ul class="Char">
                        <li class="active" style="width:70%;">Total Reward</li>
                        <li id="lifespan" style="padding-left: 3%;width: 30%; height: 100%; background-color: rgba(255, 255, 255, 0.9); ">copo</li>
                    </ul>
                </div>
                <div>
                    <ul class="Char">
                        <li class="active" style="width:70%;">Total Reward</li>
                        <li id="lifespan" style="padding-left: 3%;width: 30%; height: 100%; background-color: rgba(255, 255, 255, 0.9); ">copo</li>
                    </ul>
                </div>
                <div>For more info about your eggcode details please visit www.hatchmarket.id</div>
            </div>
            <div id="shareReward-1">
                <div class="share_container">
                    <div class="shareItemList" ng-show="!isDisplayReward">
                        <ul class="shareCharList">
                            <li ng-repeat="char in shareChars track by $index" ng-click="showReward()">
                                <div>{{char.nickname}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        

         
         </div>
   
</div>