<style>
    .popup-body {
        background: rgba(255, 255, 255, 0.5);
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        font-size: 10px;
        padding: 5px;
    }

    #expandIsland {
        width: 30vw;
        display: inline-block;
        padding: 1px 5px;
        background: #FEBB2F;
        border-radius: 15px;
        color: #fff;
    }

    #expandIsland.activated, #cancelExpandIsland.activated {
        transform: scale(0.9);
    }

    #cancelExpandIsland {
        width: 30vw;
        display: inline-block;
        padding: 5px;
        color: #FEBB2F;
    }

    .popup-body .col {
        padding: 1px;
        border: 1px solid #FEBB2F;
        display: inline-block;
        margin: 1px 2px;
        border-radius: 10px;
    }

    .select {
        text-align:center; 
        border: 1px solid #FEBB2F; 
        width: 55vw; 
        height: 4vh; 
        border-radius: 15px; 
        text-align-last: center; 
        text-align: center; 
        -ms-text-align-last: center; 
        -moz-text-align-last: center; 
        text-align-last: center;
        text-transform: uppercase;
    }


</style>
<body>
    <div>THANKS FOR YOUR DEDICATION TO JOIN WITH US TO HELP CHILDREN AROUND US.
        THANKS FOR BEING A REALLY NICE HATCHER!</div>
    <div>WE WILL SEND YOU AN EMAIL AFTER RECEIVE YOUR ORDER.</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <span id="expandIsland" ng-click="SuccessMerchant.close()">Good Day!</span>
</body>
