
@font-face {
  font-family: 'DKCoolCrayon';
  src: url('DKCoolCrayon.eot?#iefix') format('embedded-opentype'),  url('DKCoolCrayon.woff') format('woff'), url('DKCoolCrayon.ttf')  format('truetype'), url('DKCoolCrayon.svg#DKCoolCrayon') format('svg');
  font-weight: normal;
  font-style: normal;
}
